In [1]:
import pandas as pd
import plotly.graph_objects as go

In [2]:
df_2022 = pd.read_csv('/Users/ayumuueda/Desktop/UC-Transfer-Analyzer/data/2022berkeley.csv')

In [3]:
df_2022['year'] = 2022

In [5]:
df_2022.to_csv('/Users/ayumuueda/Desktop/UC-Transfer-Analyzer/data/2022berkeley_withyear.csv', index=False)

In [683]:
def load_data():
    df_2022 = pd.read_csv('/Users/ayumuueda/Desktop/tbm/2022berkeley.csv')
    df_2021 = pd.read_csv('/Users/ayumuueda/Desktop/tbm/2021berkeley.csv')
    df_2020 = pd.read_csv('/Users/ayumuueda/Desktop/tbm/2020berkeley.csv')
    df_2019 = pd.read_csv('/Users/ayumuueda/Desktop/tbm/2019berkeley.csv')
    df_2018 = pd.read_csv('/Users/ayumuueda/Desktop/tbm/2018berkeley.csv')
    return df_2018, df_2019, df_2020, df_2021, df_2022

In [684]:
df_2018, df_2019, df_2020, df_2021, df_2022 = load_data()

In [692]:
la_2022 = pd.read_csv('/Users/ayumuueda/Desktop/tbm/ucla2022.csv', error_bad_lines=False, encoding='utf-16',sep = '\t')

/var/folders/h0/sl38029x0_j4khlt53w1_8y00000gn/T/ipykernel_84310/3946850655.py:1: FutureWarning:

The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.

In [693]:
la_2022

,Broad discipline,College/School,Major name,Admit GPA range,Admit rate,Enroll GPA range,Yield rate,Admits,Applicants,Enrolls
0,Agriculture & Natural Resources,College Of Letters & science,Environmental economics & policy,3.75 - 4.00,0.290076,3.72 - 3.96,0.842105,38,131,32
1,Agriculture & Natural Resources,College Of Letters & science,Geography,3.50 - 3.90,0.272727,3.44 - 3.92,0.619048,21,77,13
2,Agriculture & Natural Resources,College Of Natural resources,Conservation & resource studies,3.55 - 3.83,0.412698,3.36 - 3.77,0.730769,26,63,19
3,Agriculture & Natural Resources,College Of Natural resources,Ecosystem management and forestry - forestry,3.24 - 3.63,0.700000,masked,0.571429,7,10,4
4,Agriculture & Natural Resources,College Of Natural resources,Environmental economics & policy,3.62 - 3.92,0.300000,3.58 - 3.92,0.787879,33,110,26
...,...,...,...,...,...,...,...,...,...,...
75,Social Sciences,College Of Letters & science,Anthropology,3.70 - 3.95,0.283422,3.62 - 3.94,0.471698,106,374,50
76,Social Sciences,College Of Letters & science,Economics,3.81 - 4.00,0.194066,3.80 - 4.00,0.752066,242,1247,182
77,Social Sciences,College Of Letters & science,Political economy,3.71 - 3.93,0.268456,3.75 - 3.93,0.625000,40,149,25
78,Social Sciences,College Of Letters & science,Political science,3.74 - 4.00,0.292639,3.70 - 3.93,0.546012,326,1114,178
79,Social Sciences,College Of Letters & science,Sociology,3.68 - 3.94,0.247343,3.55 - 3.93,0.468750,256,1035,120

In [482]:
# df_2022 = pd.read_csv('/Users/ayumuueda/Desktop/tbm/2022berkeley.csv', delimiter='\t', encoding='utf-16', error_bad_lines=False)
# def delete_row(df):
#   df = df.drop(['Broad discipline ', 'College/School '], axis=1)
#   return df
# df_2022 = delete_row(df_2022)

In [483]:
def change_major(dff):
    dff.loc[(dff['Major name'] == "Chemistry") & (dff['Applicants'] > 100),'Major name'] = 'chemistry(college of chem)'
    dff.loc[(dff['Major name'] == "Chemistry") & (dff['Applicants'] < 100),'Major name'] = 'chemistry(college of l&s)'
    return dff

In [484]:
def change_major2(df):

    dff = df.loc[(df['Major name'] == 'Environmental economics & policy')]
    indexnum = dff.index

    for k, i in enumerate(indexnum):
        if k == 0:
            df.at[i,'Major name'] = 'Environmental economics & policy(college of l&s)'
        else:
            df.at[i,'Major name'] = 'Environmental economics & policy(college of natural resources)'
    return df

In [485]:
df_2018 = change_major(df_2018)
df_2019 = change_major(df_2019)
df_2020 = change_major(df_2020)
df_2021 = change_major(df_2021)
df_2022 = change_major(df_2022)

In [486]:
df_2018 = change_major2(df_2018)
df_2019 = change_major2(df_2019)
df_2020 = change_major2(df_2020)
df_2021 = change_major2(df_2021)
df_2022 = change_major2(df_2022)

In [487]:
df_2018.loc[(df_2018['Major name'] == 'Spanish'), 'Enroll GPA range'] = '3.22 - 3.55'
df_2018.loc[(df_2018['Major name'] == 'Spanish'), 'Admit GPA range'] = '3.35 - 3.80'

for col in ['Admit rate', 'Yield rate']:
    df_2018.loc[(df_2018['Major name'] == 'Spanish'),col] = int(df_2018.loc[(df_2018['Major name'] == 'Spanish'),col])  + int(df_2018.loc[(df_2018['Major name'] == 'Spanish - option d'),col] )

for col in ['Admits', 'Applicants', 'Enrolls']:
    df_2018.loc[(df_2018['Major name'] == 'Spanish'),col] = int(df_2018.loc[(df_2018['Major name'] == 'Spanish'),col])  + int(df_2018.loc[(df_2018['Major name'] == 'Spanish - option d'),col] )

df_2018 = df_2018.drop(47)
df_2018.loc[(df_2018['Major name'] == 'Spanish'),'Major name'] = 'Spanish / portuguese'

TypeError: cannot convert the series to <class 'int'>

In [619]:
criteria = df_2018['Major name'].map(lambda x: x.startswith('Spanish'))
table1 = df_2018[criteria]

In [620]:
table1

,Major name,Admit GPA range,Admit rate,Enroll GPA range,Yield rate,Admits,Applicants,Enrolls
42,Spanish/portuguese,3.35 - 3.80,0.44,3.22 - 3.55,55.0,30,69,15

In [ ]:
criteria = df_2018['Major name'].map(lambda x: x.startswith('Molecular &'))
table1 = df_2018[criteria]
df_2018.loc[15, ['Admits', 'Applicants', 'Enrolls']] = table1[['Admits', 'Applicants', 'Enrolls']].sum()
df_2018.loc[15, ['Admit rate', 'Yield rate']] = table1[['Admit rate', 'Yield rate']].mean()
df_2018 = df_2018.drop([16,17,18,19])
df_2018.loc[(df_2018['Major name'] == 'Molecular & cell biology - pl1 - 1'),'Major name'] = 'Molecular & cell biology'

In [ ]:
criteria = df_2019['Major name'].map(lambda x: x.startswith('Molecular &'))
table1 = df_2019[criteria]
df_2019.loc[17, ['Admits', 'Applicants', 'Enrolls']] = table1[['Admits', 'Applicants', 'Enrolls']].sum()
df_2019.loc[17, ['Admit rate', 'Yield rate']] = table1[['Admit rate', 'Yield rate']].mean()
df_2019 = df_2019.drop([18,19,20,21])
df_2019.loc[(df_2019['Major name'] == 'Molecular & cell biology - pl1 - 1'),'Major name'] = 'Molecular & cell biology'

#spanish -d + spanish for 2018
#molecular 2018, 2019

In [ ]:
df_2020 = df_2020.reset_index(drop=True)
df_2019 = df_2019.reset_index(drop=True)
df_2018 = df_2018.reset_index(drop=True)
df_2021 = df_2021.reset_index(drop=True)
df_2022 = df_2022.reset_index(drop=True)

In [688]:
# df_2018.to_csv('/Users/ayumuueda/Desktop/tbm/2018berkeley.csv',index = False)
# df_2019.to_csv('/Users/ayumuueda/Desktop/tbm/2019berkeley.csv',index = False)
# df_2020.to_csv('/Users/ayumuueda/Desktop/tbm/2020berkeley.csv',index = False)
# df_2021.to_csv('/Users/ayumuueda/Desktop/tbm/2021berkeley.csv',index = False)
# df_2022.to_csv('/Users/ayumuueda/Desktop/tbm/2022berkeley.csv',index = False)

In [ ]:
set(df_2018['Major name'].values.tolist()).difference(set(df_2022['Major name'].values.tolist()))

{'Engineering physics',
 'Forestry & natural resources',
 'French',
 'Landscape architecture',
 'Near eastern civilizations',
 'Operations research & management science',
 'Sustainable environmental design'}

In [ ]:
set(df_2022['Major name'].values.tolist()).difference(set(df_2018['Major name'].values.tolist()))

{'Ancient greek and roman studies',
 'Asian american and asian diaspora studies',
 'Chicano studies',
 'Dance & performance studies',
 'Data science',
 'Ecosystem management and forestry - forestry',
 'Ecosystem management and forestry - natural resource management',
 'Environmental earth science',
 'Nuclear engineering'}

In [ ]:
df_2018[(df_2018['Major name'] == 'Spanish') | (df_2018['Major name']=='Spanish - option d')]

Empty DataFrame
Columns: [Major name, Admit GPA range, Admit rate, Enroll GPA range, Yield rate, Admits, Applicants, Enrolls]
Index: []

In [ ]:
Spanish/portuguse in 2022 are Spanish in 2018
molculer bio

SyntaxError: invalid syntax (1433377747.py, line 1)

In [ ]:
df_2022[df_2022['Major name'] == 'Spanish / portuguese']

,Major name,Admit GPA range,Admit rate,Enroll GPA range,Yield rate,Admits,Applicants,Enrolls
44,Spanish / portuguese,3.35 - 3.72,0.568182,3.34 - 3.89,0.52,25,44,13

In [ ]:
set(df_2018['Major name'].values.tolist()).difference(set(df_2022['Major name'].values.tolist()))

{'Engineering physics',
 'Forestry & natural resources',
 'French',
 'Landscape architecture',
 'Molecular & cell biology - pl1 - 1',
 'Molecular & cell biology - pl1 - 2',
 'Molecular & cell biology - pl1 - 3',
 'Molecular & cell biology - pl2 - 2',
 'Molecular & cell biology - pl2 - 3',
 'Near eastern civilizations',
 'Operations research & management science',
 'Spanish',
 'Spanish - option d',
 'Sustainable environmental design'}

In [ ]:
print(set(df_2022['Major name'].values.tolist()).difference(set(df_2021['Major name'].values.tolist())))

{'Asian american and asian diaspora studies', 'Ancient greek and roman studies', 'Dance & performance studies', 'Nuclear engineering'}

these four majors are not existed in 2021

In [ ]:
set(df_2022['Major name'].values.tolist()).difference(set(df_2020['Major name'].values.tolist()))

{'African-american studies',
 'Ancient greek and roman studies',
 'Asian american and asian diaspora studies',
 'Environmental earth science'}

In [ ]:
set(df_2020['Major name'].values.tolist()).difference(set(df_2022['Major name'].values.tolist()))

{'Ancient egypt & near eastern art',
 'Classical civilization',
 'French',
 'Geophysics',
 'Landscape architecture',
 'Near eastern civilizations',
 'Operations research & management science'}

In [ ]:
set(df_2021['Major name'].values.tolist()).difference(set(df_2020['Major name'].values.tolist()))

{'African-american studies',
 'Environmental earth science',
 'Italian studies',
 'Sustainable environmental design'}

In [ ]:
import plotly.express as px
import matplotlib.pyplot as plt

Geography vs Economics 2022, 2021 admit rate

一年だけの'Admit rate', 'Yield rate', 'Admits', 'Applicants', 'Enrolls'はbar graphでいける

In [ ]:
pd.__version__

'1.5.3'

In [ ]:
from difflib import SequenceMatcher

In [ ]:
SequenceMatcher(None, 'datascience', 'datas').ratio()

0.625

In [ ]:
new_list = df_2022['Major name'].apply(lambda x : SequenceMatcher(None, 'datascience', x).ratio() > 0.6)

In [ ]:
major_list = []
major_list.append('Geography')
major_list.append('Economics')

value_list = []
value_list.append(float(df_2022.loc[df_2022['Major name'] == 'Geography','Admit rate']))
value_list.append(float(df_2022.loc[df_2022['Major name'] == 'Economics','Admit rate']))
px.bar(x = major_list, y = value_list, width=500, height=600)

'Enroll GPA range' と'Admit GPA range' の時はまず二つの数に分ける

In [ ]:
float(df_2022.loc[df_2022['Major name'] == 'Economics','Enroll GPA range'].tolist()[0][7:])

4.0

In [ ]:
lower_list = []
diff_list = []
lower = float(df_2022.loc[df_2022['Major name'] == 'Geography','Enroll GPA range'].tolist()[0][0:4])
upper = float(df_2022.loc[df_2022['Major name'] == 'Geography','Enroll GPA range'].tolist()[0][7:])

lower_list.append(lower)
lower_list.append(3.77)
diff_list.append(upper - lower)
diff_list.append(4.0 - 3.77)

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
px.bar(x=major_list, y=diff_list, base=lower_list, width=500, height=600)

複数年 2022, 2021, 2020 の時は line plot
2022に存在してるメジャーだけをオプションに入れておく設定して、もしなければ０を返せばいい
if year is 1 then above graphs among chosen majors

if year > 0 then below

In [ ]:
multiple_dict = {}
multiple_value = []
multiple_value.append(df_2020.loc[df_2020['Major name'] == 'Geography','Admit rate'].to_list()[0])
multiple_value.append(df_2021.loc[df_2021['Major name'] == 'Geography','Admit rate'].to_list()[0])
multiple_value.append(df_2022.loc[df_2022['Major name'] == 'Geography','Admit rate'].to_list()[0])
multiple_dict['Geography'] = multiple_value
multiple_value = []
multiple_value.append(df_2020.loc[df_2020['Major name'] == 'Economics','Admit rate'].to_list()[0])
multiple_value.append(df_2021.loc[df_2021['Major name'] == 'Economics','Admit rate'].to_list()[0])
multiple_value.append(df_2022.loc[df_2022['Major name'] == 'Economics','Admit rate'].to_list()[0])
multiple_dict['Economics'] = multiple_value

In [ ]:
multiple_dict

{'Geography': [0.098591549, 0.271428571, 0.65],
 'Economics': [0.148062016, 0.221338635, 0.137083994]}

In [ ]:
year  = [2020, 2021, 2022]

In [ ]:
import plotly.express as px
import plotly.graph_objects as go
fig = go.Figure()
fig.add_trace(go.Scatter(x=year, y=multiple_dict['Geography'],
                    mode='lines',
                    name='Geography'))
fig.add_trace(go.Scatter(x=year, y=multiple_dict['Economics'],
                    mode='lines',
                    name='Economics'))

fig.show()

In [ ]:
multiple_dict

{'Geography': [0.098591549, 0.271428571, 0.65],
 'Economics': [0.148062016, 0.221338635, 0.137083994]}

multiple year and multiple year